In [2]:
import pandas as pd

In [3]:
bubble_sort = {
    "Runtime": [12, 24, 36],
    "Swaps": [14, 28, 54],
    "Comparisons": [28, 56, 72]
}

insertion_sort = {
    "Runtime": [20, 40, 60],
    "Swaps": [5, 10, 15],
    "Comparisons": [14, 28, 54]
}

In [4]:
df1 = pd.DataFrame.from_dict(bubble_sort)
df2 = pd.DataFrame.from_dict(insertion_sort)
df1

   Runtime  Swaps  Comparisons
0       12     14           28
1       24     28           56
2       36     54           72

In [5]:
df2

   Runtime  Swaps  Comparisons
0       20      5           14
1       40     10           28
2       60     15           54

In [6]:
df1.merge(df2, left_on="Runtime", right_on="Comparisons")

Empty DataFrame
Columns: [Runtime_x, Swaps_x, Comparisons_x, Runtime_y, Swaps_y, Comparisons_y]
Index: []

In [7]:
df1

   Runtime  Swaps  Comparisons
0       12     14           28
1       24     28           56
2       36     54           72

In [8]:
for row in df1:
    print(df1["Runtime"])

0    12
1    24
2    36
Name: Runtime, dtype: int64
0    12
1    24
2    36
Name: Runtime, dtype: int64
0    12
1    24
2    36
Name: Runtime, dtype: int64